* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(0, 0, 30);

}

body::-webkit-scrollbar {
    display: none;
}

.blueviolet {
    color: blueviolet;
}

.goldenrod {
    color: goldenrod;
}